{% extends "base.html" %}

{% block title %}Evaluación: {{evaluation.title}}{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="mb-4 text-primary">Detalles de la Evaluación</h1>
    <div class="card shadow-lg p-4">
      <p><strong>Nombre:</strong> {{ evaluation.title }}</p>
      <p><strong>Ramo:</strong> {{ evaluation.section.course_instance.course.title }} ({{ evaluation.section.course_instance.year }}-{{ evaluation.section.course_instance.semester }})</p>
      <p><strong>Seccion:</strong> {{ evaluation.section.code }}</p>
      <p><strong>Tipo de Ponderación:</strong> {{ evaluation.weighting_system }}</p>
      <p><strong>Peso:</strong> {{ evaluation.weight }}</p>
      
      <div class="mt-4 d-flex justify-content-between">
        <a href="{{ url_for('evaluation.index') }}" class="btn btn-secondary">
          ⬅ Volver al listado
        </a>
        <div class="btn-group" role="group">
          <a href="{{ url_for('evaluation.edit', id=evaluation.id) }}" class="btn btn-warning text-dark">
            ✏ Editar
          </a>
          <a href="{{ url_for('evaluation.delete', id=evaluation.id) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este curso?');">
            🗑 Eliminar
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
