{% extends "base.html" %}

{% block title %}{{ course_instance.course.title }} ({{course_instance.year}}-{{course_instance.semester}}){% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="mb-4 text-primary">Detalles de Instancia</h1>

    <div class="card shadow-lg">
      <div class="card-body">
        <h5 class="card-title text-dark"><strong>Título:</strong> {{ course_instance.course.title }}</h5>
        <p class="lead"><strong>Año:</strong> {{ course_instance.year }} </p>
        <p class="lead"><strong>Semestre:</strong> {{ course_instance.semester }} </p>

        <div class="mt-4 d-flex justify-content-between">
          <a href="{{ url_for('course_instance.index') }}" class="btn btn-secondary">
            ⬅ Volver al listado
          </a>
          <div class="btn-group" role="group">
            <a href="{{ url_for('course_instance.edit', id=course_instance.id) }}" class="btn btn-warning text-dark">
              ✏ Editar
            </a>
            <a href="{{ url_for('course_instance.delete', id=course_instance.id) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este curso?');">
              🗑 Eliminar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="mt-5 text-primary">Secciones</h3>
    <div class="list-group mt-3">
      {% for section in course_instance.sections %}  
        <a href="{{ url_for('section.show', id=section.id) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <span><strong>{{ section.code }}</strong></span>
          <span class="btn btn-sm btn-primary">Ver</span>
        </a>
      {% else %}
        <p class="text-muted">No hay instancias disponibles.</p>
      {% endfor %}
    </div>
{% endblock %}
