{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1 class="mb-4 text-primary">Crear Curso</h1>

    <div class="card shadow-lg p-4">
      <form action="{{ url_for('course.create') }}" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Título del Curso</label>
          <input 
            type="text" 
            id="title" 
            name="title" 
            class="form-control" 
            required>
        </div>

        <a href="{{ url_for('course.index') }}" class="btn btn-secondary">⬅ Volver al listado</a>
        <button type="submit" class="btn btn-primary">💾 Crear</button>
      </form>
    </div>
  </div>
{% endblock %}
