<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Gestión de Cursos {% endblock %}</title>
</head>
<body>
    <header>
        <h1>Plataforma Educativa</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Inicio</a></li>
                <li><a href="{{ url_for('course.index') }}">Cursos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Plataforma Educativa</p>
    </footer>
</body>
</html>
